<header class="main-header">
    <div class="main-header-top-bar">
        <a href="/"><img src="/img/Gaming_Store_Logo.jpg" class="logo"></a>

        <div class="user-navbar">
            <div class="lrm-navbar">
                <ul>
                    <li><a href="/login">LOGIN</a></li>
                    <li><a href="/register">REGISTER</a></li>
                    <li><a href="/cart">MY CART</a></li>
                    <li><a href="/user/profile">PROFILE</a></li>
                    <li><a href="/user/logout">LOGOUT</a></li>
                </ul>
            </div>

            <form id="header-search" class="search-form" action="/search" method="GET">
                <input type="text" name="input-block-level" placeholder="Search game">
                <button type="submit" class="search-submit" title="search">
                    <i class="fa fa-search"></i>
                </button>
            </form>
        </div>
    </div>
</header>